typing-extensions
langchain>=0.3.17,<0.4
langchain-core
langfuse
langchain-openai
langchain-experimental
pandas
yfinance
stockstats
langgraph
rank-bm25
setuptools
backtrader
parsel
requests
tqdm
pytz
redis
rich
typer
questionary
langchain_anthropic
langchain-google-genai
kiteconnect>=5.0.1
